html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #004800;
}

.container {
    display: inline-block;
    margin: auto;
}

.black-keys {
    position: absolute;
    z-index: 2;
}

.white-key {
    display: flex;
    position: relative;
    float: left;
    justify-content: center;
    align-items: flex-end;
    width: 3rem;
    height: 10rem;
    padding: 0 0 10px;
    background-color: white;
    border: 2px solid gray;
    border-right: 0;
}

.black-key {
    display: flex;
    position: relative;
    float: left;
    justify-content: center;
    align-items: flex-end;
    width: 2rem;
    height: 6rem;
    margin-left: 1rem;
    padding: 0 0 10px;
    transform: translateX(50%);
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-right: 0;
}

.black-key-t {
    margin-left: 4.12rem
}